@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		// example of what to do
		--stuic-primary: 220 38 38; // red-600
		--stuic-on-primary: 255 255 255;
		//
		--stuic-primary-dark: 220 38 38;
		--stuic-on-primary-dark: 255 255 255;
	}
}

*:focus-visible {
	// @apply outline outline-2 outline-stuic-primary/75 outline-offset-[-1px]; // outline-offset-[-1px]
	@apply outline-0 ring-4 ring-stuic-primary ring-opacity-20;
	// @apply outline-1 outline-stuic-primary ring-0;
}

html {
	@apply bg-neutral-50 text-neutral-950;
	select {
		@apply bg-neutral-50 text-neutral-950;
	}

	&.dark {
		@apply bg-neutral-800 text-neutral-50;
		select {
			@apply bg-neutral-800 text-neutral-50;
		}
	}
}

a {
	@apply underline;
	&:hover {
		@apply text-stuic-primary;
	}
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}
