@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "./lib/index.css";

@layer base {
	html {
		@apply text-stone-950 dark:text-stone-50 bg-stone-50 dark:bg-stone-800;
	}
}
