@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "./lib/index.css";

@layer base {
	html {
		@apply text-neutral-950 dark:text-neutral-50 bg-neutral-50 dark:bg-neutral-800;
	}
}
